$primaryColor: hsl(336, 78%, 43%);
$primaryColorDark: hsl(336, 88%, 33%);
$secondaryColor: hsl(45, 100%, 51%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
h1,
h2 {
  text-align: center;
  margin: 0;
}
body {
  background-color: $primaryColor;
}
h2 {
  font-size: 2rem;
  color: $primaryColor;
}

.notificacion {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 1rem 3rem;
  box-shadow: 0px 5px 5px 0px rgba($color: #000000, $alpha: 0.5);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 1.2rem;
}

.visible {
  opacity: 1;
}

.correcto {
  background-color: green;
  color: white;
}

.error {
  background-color: red;
  color: white;
}
